/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;

}
.background-image{
    background: rgba( 154, 255, 107, 0.49 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 13px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/*ANIMATOIN FOR HOVER ANIMATION ON NAV BAR*/
.nav-link{
    position: relative;
}
.nav-link::after{
    transition: all 0.2s;
    content: '';
    opacity: 0;
    height: 3px;
    width: 100%;
    background-color: #98FB98;
    background-color: #0f2f46;
    border-radius: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.nav-link:hover::after{
    opacity: 1;
}
.form-select{
    width: 150px;
}
.red-star{
    color:red;
}
body{
    background-color: #181818;
}
.form-color {

    color: #d6d6d6;
    border: 1px solid #eb6a5c;
    background-color: #323232;
    padding: 5px;
  
}
.form-color::placeholder{
    color: #d6d6d6;
    text-align:center;
}
.form-color:focus{
    outline: none;
    border: 2px solid #1a863d;
    background-color: #F2F2F2;
    box-shadow: 0 0 5px rgba(176, 191, 26, 0.5);
    background-color: #323232;
    color: #ffffff;
}
.button-color {
    background-color: #1a863d; /* Teal color for the button */
    color: #FFFFFF; /* Text color for better readability */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    cursor: pointer;
  }
  
  .button-color:hover {
    background-color: #176e34; /* Darker teal color on hover */
  }
  .button-color:disabled{
    transition: all 0.2s;
    background-color: #eb6a5c;
  }
.font-color{
    color:#F2F2F2;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal; 
}
.big-text{
    font-size:90px
}
@media only screen and (max-width: 767px){
    .big-text{
        font-size: 65px;
    }
}
.second-text-font{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        color:#F2F2F2;
}  
.big-text2{
    font-size:90px
}
@media only screen and (max-width: 767px){
    .big-text2{
        font-size: 59px;
    }
}
.secon
.second-text-size{
    font-size: 20px;
}
@media only screen and (max-width: 767px){
    .second-text-size{
        font-size: 20px;
    }
}
.loginregistersize{
    font-size: 20px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color:#F2F2F2;
    opacity: 0.8;
}
.logout-button{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.form-color-2{
    color: #d6d6d6;
    border:  3px dashed #98FB98;
    background-color: #323232;
    padding: 5px;
}
.form-color-2:focus{
    outline: none;}
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  resize: none;
}

.label1 {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 19px;
  margin-top: 38px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color:#F2F2F2;
}
.title{
    background-color: #323232;
    color: #ffffff;
    border:  3px dashed #98FB98;
}
.title:focus{
    background-color: #323232;
    color: #ffffff;
}
.title::placeholder{
    color: #ffffff;
    text-align:center;
}
.checkbox{
    color: #FFFFFF;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }

  .rating input {
    display: none;
  }

  .rating label {
    cursor: pointer;
    display: inline-block;
  }

  .rating label:before {
    content: '\2605'; /* Unicode character for a star */
    font-size: 2em;
    color: #ddd;
    display: block;
  }

  .rating input:checked ~ label:before {
    color: #fdd835; /* Color for selected stars */
  }

  .rating label:hover:before,
  .rating label:hover ~ label:before {
    color: #ffb400; /* Color for stars on hover */
  }
.review-size{
    width: 700px;
    height: 300px;
  
}
.title-size {
    width: 250px;
    height: 50px;
}
@media only screen and (max-width: 767px){
    .review-size{
        width: 350px;
        height: 177px;
    }
}
@media only screen and (max-width: 767px){
    .title-size{
        width: 220px;
        height: 50px;
    }
}
.reviewtext{
    color: #ffffff;
    width: 700px; 
    margin: 0 auto; 
    padding: 20px;
    border: 3px dashed rgb( 255,224,60);
    border-radius: 5px; 
    background-color: #323232;
    overflow-wrap: break-word;
}
@media only screen and (max-width: 767px){
    .reviewtext{
        width:350px;
    }
}
.bodydesign{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.reviewtext p {
    margin: 5px 0; 
  }
  

.titlebold{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
}
.togetherp{
    display: inline-block;
    margin: 0 10px;
}
.unibold{
    font-size: 17px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
}
.uniopacity{
    opacity: 0.72;
}
.rating1 {
    unicode-bidi: bidi-override;
    font-size: 2em;
    direction: rtl;
  }
  
  input[type="radio"] {
    display: none; /* Hide radio buttons visually */
  }
  
/* Ensure labels are displayed inline-block with visual cues for interactivity */
.cock {
    display: inline-block;
    cursor: default; /* Indicate interactivity */
  }
  
  /* Style the star icons */
  .cock:before {
    content: '\2605'; /* Unicode character for a star */
    font-size: 2em;
    color: #ddd; /* Default unselected star color */
  }
  
.rating1 label.selected:before {
    color: gold; /* Filled star color */
}
  .rating1 input[type="radio"]:checked + label:before {
    color: gold; /* Filled star color */
  }
.author{
    text-align: left;
}