{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <p class=" loginregistersize">Log in to access the website</p>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-color form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto form-color" name="password" placeholder="Password" type="password" required>
        </div>
        <button class="button-color btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
