{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form id="registerForm" action="/register" method="post">
        <div class="mb-3">
            <!--<label for="username">Username<span class="red-star">*</span></label>-->
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id ="username" placeholder="username" name="username" type="text" requried> 
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" requried>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="password (again)" type="password" required>
        </div>
        <p id="passwordError" style="color: red"></p>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="uniselect" required>
                <option disabled selected value="">Pick Your University</option>
                <option>Agruni</option>
                <option>ATSU</option>
                <option>ALTE</option>
                <option>Art Academy</option>
                <option>BSU</option>
                <option>BTU</option>
                <option>CIU</option>
                <option>Caucasus University</option>
                <option>DAUG</option>
                <option>European University</option>
                <option>FREEUIN</option>
                <option>GAU</option>
                <option>GTU/STU</option>
                <option>GIPA</option>
                <option>GRUNI</option>
                <option>IBSU</option>
                <option>KIU</option>
                <option>IliaUni</option>
                <option>SOU</option>
                <option>SEU</option>
                <option>SABAUNI</option>
                <option>SANGU</option>
                <option>TAFU</option>
                <option>TSMU</option>
                <option>TSU</option>
                <option>UG</option>
            </select>
        </div>


        <button class="btn btn-primary"  id="registerBtn" type="submit">Register</button>
    </form>
    <script src="script.js"></script>
{% endblock %}
