{% extends "layout.html" %}

{% block title %}
    Write Your Review
{% endblock %}

{% block main %}
<div class="font-color big-text">
    <p>Review Your University</p>
</div>
<div class="second-text-font second-text-size">
    <p>Write your opinion about your university</p>
</div>
<form id="reviewForm">
      <select class="form-select mx-auto w-auto form-color-2 " id="selectwrite"name="uniselectwrite" required>
      <option disabled selected value="">Pick  Univeristy To Review</option>
      <option>Agruni</option>
      <option>ATSU</option>
      <option>ALTE</option>
      <option>Art Academy</option>
      <option>BSU</option>
      <option>BTU</option>
      <option>CIU</option>
      <option>Caucasus University</option>
      <option>DAUG</option>
      <option>European University</option>
      <option>FREEUIN</option>
      <option>GAU</option>
      <option>GTU/STU</option>
      <option>GIPA</option>
      <option>GRUNI</option>
      <option>IBSU</option>
      <option>KIU</option>
      <option>IliaUni</option>
      <option>SOU</option>
      <option>SEU</option>
      <option>SABAUNI</option>
      <option>SANGU</option>
      <option>TAFU</option>
      <option>TSMU</option>
      <option>TSU</option>
      <option>UG</option>
      <optoin>other</option>
  </select>
  <div class="mb-3">
  <label class="defactomargin"></label>
  <textarea rows="1" cols="15" class="form-control mx-auto w-auto" placeholder="Title" id="titlewrite" name="titlewrite" maxlength="21"></textarea>
  <textarea rows="8" cols="40" class="form-control mx-auto w-auto my-2" placeholder="Review" id="reviewwrite" name="reviewwrite"></textarea>
  </div> 
  <button class="button-color btn btn-primary"  id="registerBtn" type="submit">Register</button>
</form>
{% endblock %}
