{% extends "layout.html" %}

{% block title %}
    Write Your Review
{% endblock %}

{% block main %}
<script src="/static/script.js"></script>
<form action="/writeyourreview" method="POST">
<div class="font-color big-text">
    <p>Review Your University</p>
</div>
<div class="second-text-font second-text-size">
    <p>Write your opinion about your university</p>
</div>
<form id="reviewForm">
      <select class="custom-select form-select mx-auto form-color-2 " id="selectwrite"name="uniselectwrite" required>
      <option disabled selected value="">Select University</option>
      <option>Agruni</option>
      <option>ATSU</option>
      <option>ALTE</option>
      <option>Art Academy</option>
      <option>BSU</option>
      <option>BTU</option>
      <option>CIU</option>
      <option>Caucasus University</option>
      <option>DAUG</option>
      <option>European University</option>
      <option>Freeuni</option>
      <option>GAU</option>
      <option>GTU/STU</option>
      <option>GIPA</option>
      <option>GRUNI</option>
      <option>IBSU</option>
      <option>KIU</option>
      <option>IliaUni</option>
      <option>SOU</option>
      <option>SEU</option>
      <option>SABAUNI</option>
      <option>SANGU</option>
      <option>TAFU</option>
      <option>TSMU</option>
      <option>TSU</option>
      <option>UG</option>
      <option>other</option>
  </select>
  <div class="mb-2">
    <!--input boxes for title and review-->
  <label class="label1 my-3">Title of your review</label>
  <textarea  class="title-size title form-control mx-auto  my-2" id="titlewrite" name="titlewrite" minlength="1" maxlength="25" required></textarea>
  <label class="label1 my-1">Your review</label>
  <textarea  class="review-size title form-control mx-auto  my-2"  id="reviewwrite" minlength="5"name="reviewwrite" required></textarea> 
  </div>
  <!--rating system-->
  <div class="rating">
    <input type="radio" id="star5" name="rating" value="5">
    <label for="star5"></label>
    <input type="radio" id="star4" name="rating" value="4">
    <label for="star4"></label>
    <input type="radio" id="star3" name="rating" value="3">
    <label for="star3"></label>
    <input type="radio" id="star2" name="rating" value="2">
    <label for="star2"></label>
    <input type="radio" id="star1" name="rating" value="1">
    <label for="star1"></label>
  </div>
  <!--BUTTON-->
  <form id="reviewbutton" method="post" action="/writeyourreview">
  <button class="mt-1 button-color btn btn-primary"  id="sumbmitreview" type="submit">Send Out</button>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</form>
</form>
{% endblock %}
